# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de compilación y salidas
out/
dist/
*.vsix

# Configuración de entornos locales
.env
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs y depuración
*.log

# Archivos de prueba
coverage/
